<div class="content">
  <div class="header">
    <h2><span>F</span>urniro</h2>
    <p>The best forn ever</p>
  </div>
  <div class="sidebar_body">
    <ul class="menu">
      <li>
        <a
          routerLink="overview"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bx bxs-grid-alt"></i> overview</a
        >
      </li>
      <li>
        <a routerLink="Allproducts" routerLinkActive="active"
          ><i class="bx bxs-shopping-bag-alt"></i>Products</a
        >
      </li>
      <li>
        <a routerLink="Allcategories" routerLinkActive="active"
          ><i class="bx bxs-category-alt"></i>All categories</a
        >
      </li>
      <li>
        <a routerLink="Allusers" routerLinkActive="active"
          ><i class="bx bxs-group"></i>Users</a
        >
      </li>
      <li>
        <a routerLink="Allorders" routerLinkActive="active"
          ><i class="bx bxs-package"></i>oreder</a
        >
      </li>
    </ul>
  </div>
</div>
