
<div class="dashboard">
    <div class="container-dash">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main">
            <div class="main-header">
                <div class="title">
                    <h3>Hey There in Furniro</h3>
                    <p>Welecome back in your Dashboard</p>
                </div>
        </div>
        <div class="main-content">
                <router-outlet></router-outlet>
            </div>
    </div>
</div>
</div>
