<div class="category_list d-flex mt-5">

<div class="category_card">
    <div class="overlay">
        <div class="info">
            <h3>Sofa</h3>
            <img src="assets/sofa.png" alt="">
        </div>
    </div>
    <img src="assets/sofa.jpg" alt="" srcset="" class="category_img">
</div>
<div class="category_card">
    <div class="overlay">
        <div class="info">
            <h3>Sofa</h3>
            <img src="assets/sofa.png" alt="">
        </div>
    </div>
    <img src="assets/sofa.jpg" alt="" srcset="" class="category_img">
</div>
<div class="category_card">
    <div class="overlay">
        <div class="info">
            <h3>Sofa</h3>
            <img src="assets/sofa.png" alt="">
        </div>
    </div>
    <img src="assets/sofa.jpg" alt="" srcset="" class="category_img">
</div>
<div class="category_card">
    <div class="overlay">
        <div class="info">
            <h3>Sofa</h3>
            <img src="assets/sofa.png" alt="">
        </div>
    </div>
    <img src="assets/sofa.jpg" alt="" srcset="" class="category_img">
</div>
<div class="category_card">
    <div class="overlay">
        <div class="info">
            <h3>Sofa</h3>
            <img src="assets/sofa.png" alt="">
        </div>
    </div>
    <img src="assets/sofa.jpg" alt="" srcset="" class="category_img">
</div>

