<footer>
  <div class="container">
    <div class="foot_content">
      <div class="footBox">
        <a href="" class="logo"
          ><span style="color: #f6b50ef0">F</span>urniro.</a
        >
        <p>
          Discover comfort and style woven into every thread of our furniture
          selection.
        </p>
        <ul class="d-flex gap-2">
          <li>
            <a href="" class="icon"><i class="bx bxl-facebook"></i></a>
          </li>
          <li>
            <a href="" class="icon"><i class="bx bxl-twitter"></i></a>
          </li>
          <li>
            <a href="" class="icon"><i class="bx bxl-pinterest"></i></a>
          </li>
          <li>
            <a href="" class="icon"><i class="bx bxl-instagram"></i></a>
          </li>
          <li>
            <a href="" class="icon"><i class="bx bxl-github"></i></a>
          </li>
        </ul>
      </div>
      <div class="footBox">
        <h3 class="heading" style="color: #777; font-size: 15px">
          Quick Links
        </h3>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Shop</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="footBox">
        <h3 class="heading" style="color: #777; font-size: 15px">Categories</h3>
        <ul>
          <li><a href="">Dinner room</a></li>
          <li><a href="">living room</a></li>
          <li><a href="">Bed room</a></li>
          <li><a href="">Sofras</a></li>
          <li><a href="">Single Furniture</a></li>
        </ul>
      </div>
      <div class="footBox">
        <h3 class="heading" style="color: #777; font-size: 15px">Contact</h3>
        <ul>
          <li><a href="">+20 127 8741 698</a></li>
          <li><a href="">+20 118 6547 456</a></li>
          <li><a href="">Gmail</a></li>
          <li><a href="">Outlook</a></li>
        </ul>
      </div>
    </div>
    <div class="copyrights d-flex gap-1 align-items-center py-3">
      <i class="bx bx-copyright fs-4"></i>
      <span>2024, All Rights are Reserved</span>
    </div>
  </div>
</footer>
